@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Travel Agency App</h1>
    <p>This is a simple application that allows you to choose your destination for your vacation with many options and a shopping cart.</a>.</p>
</div>




